.Card_Container {
  background-color: white;
  border-radius: 5px;
  color: #242424;
  width: 800px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  max-width: 100%;
}

.Card_Header {
  padding: 1rem;
  border-bottom: 2px solid #F0F4F8;
  color: #243B53;
  text-align: end;
}


.Card_Header h1 {
  text-align: center;
  margin: 0;
  color: #4D3DF7;
}

.Card_Content {
  padding: 1rem;
}

.Card_Footer {
  padding: 0 1rem 1rem 1rem;
}