.CreatePoll_Form {
  display: flex;
  flex-direction: column;
}

.CreatePoll_Input {
  width: 100%;
  margin-bottom: 1.2rem;
}

.CreatePoll_Input:last-child {
  margin-bottom: 0;
}

input, textarea {
  font-weight: 400;
  outline: none;
  color: #102A43;
  width: 100%;
  font-size: 17px;
  border-radius: .25rem;
  background-color: #F0F4F8;
  border: 1px solid white; 
}

input:focus, textarea:focus {
  border-color: #4D3DF7;
  color: #102A43;
}

.CreatePoll_Input input, textarea {
  padding: 1.5rem;
}

.CreatePoll_Input textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
}

.CreatePoll_Buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.CreatePoll_Button {
  display: flex;
  justify-content: flex-end;
}

.CreatePoll_LabelError {
  color: #EF4E4E;
}

.rbc-calendar { 
  height: 500px; 
}

.rbc-event {
  background-color: #4D3DF7;
}

.rbc-today {
  background-color: #E6E6FF;
}

.rbc-current-time-indicator {
  background-color: #4D3DF7;
}

.rbc-slot-selection {
  background-color: #C4C6FF;
}

.rbc-time-view {
  border: none;
}